# PWASupperApps Environment Template

PORT=3000
DB_NAME=wa_database
DATABASE_DIR=./database
SESSIONS_DIR=./sessions

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASS=
MYSQL_DB=pwa-super-apps

# Client-side configuration (must start with VITE_)
VITE_DB_NAME=wa_database
